
<div class="flex h-screen w-screen items-center justify-center flex-col">
    <div class="group relative cursor-pointer border border-gray-200 text-gray-200  p-12 border-2 rounded-full transition ease-in-out duration-500 hover:border-transparent hover:scale-150"
        [class.fade-out]="isFaded" (click)="toggleFade()">
        <div class="uppercase text-4xl md:text-7xl  flex items-center relative">
            <ng-container *ngFor="let letter of 'Poké&nbsp;Fest'.split(''); let i = index">
                <div [attr.key]="i"
                    class="origin-top transition-transform duration-500 ease-in-out group-hover:scale-y-0">
                    {{ letter }}
                    
                </div>
              
            </ng-container>
            <div class="uppercase text-4xl md:text-7xl absolute bottom-0 left-0 flex items-center">
                <ng-container *ngFor="let letter of 'Poké&nbsp;Fest'.split(''); let i = index">
                    <div [attr.key]="i"
                        class="origin-bottom  transition-transform duration-500 ease-in-out group-hover:scale-y-0">
                        {{ letter }}
                    </div>
                </ng-container>
            </div>
        </div>
       
    </div>
    <span class="text-orange-700 text-5xl font-bold mt-10 font-mono">
        
    </span>
</div>