<div class="bg-black">
  <div class="bg-no-repeat bg-cover "
    style="background-image: url('https://wallpaperaccess.com/full/20997.jpg'); height: 900px">


    <nav class=" fixed w-full z-20 top-0 left-0 bg-black p-0.08 ">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="" class="flex items-center">
          <img src="" class="h-8 mr-3">
          <span class="text-orange-700 self-center text-2xl font-semibold whitespace-nowrap ">
            <img class="h-18 w-20"
              src="https://c4.wallpaperflare.com/wallpaper/789/997/233/pokemon-blue-black-red-white-yellow-pikachu-poke-balls-poke-xelica-ash-anime-pokemon-hd-art-wallpaper-preview.jpg">
          </span>
        </a>
        <div class="flex md:order-2">
          <a href="#register"
            class="relative px-5 py-3 overflow-hidden font-medium text-white bg-transparent  rounded-full group">
            <span
              class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
            <span
              class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
            <span
              class="absolute top-0 left-0 w-full h-0 transition-all duration-200 delay-100 bg-gray-600 group-hover:h-full ease"></span>
            <span
              class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-100 bg-gray-600 group-hover:h-full ease"></span>
            <span
              class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-200 opacity-0 group-hover:opacity-100"></span>
            <span
              class="relative transition-colors duration-300 delay-200 group-hover:text-black ease uppercase">Tickets</span>
          </a>

        </div>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-transparent"
          id="navbar-sticky">
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium   md:flex-row md:space-x-8 md:mt-0  md:bg-transparent text-black">
            <li>
              <a href="#" class="block py-2 pl-3 pr-4 text-white rounded  md:p-0 md:hover:text-blue-700  cursor-pointer transform
            transition duration-500 hover:scale-110 " aria-current="page">Home</a>
            </li>
            <li>
              <a href="#about" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-red-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110">The Saga</a>
            </li>
            <li>
              <a href="#events" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-red-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110 ">Events</a>
            </li>
            <li>
              <a href="#contact" class="block py-2 pl-3 pr-4 text-white rounded  md:hover:text-red-700 md:p-0 cursor-pointer transform
            transition duration-500 hover:scale-110 ">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="">
      <div>
        <Newcomp></Newcomp>
      </div>
    </div>

  </div>
  <div id="about"
    class="text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-14 font-semibold">
    <div class="text-red-700 font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center md:mt-10">

    </div>
    <div class="text-lg md:text-2xl text-center mt-20 px-10">
      This is the moment. The greatest fantasy turning into reality.<br><br> The most loved pokemon in your city. The
      super powers blended with reality in the perfect ratio.<br><br> Here we present to you, the most awaited, the most
      spectacular carnival of all times- <br><br>
      <a class="block text-red-700 font-bold cursor-pointer transform
      transition duration-500 hover:scale-110 ">The Poké India Festival. </a>

    </div>
    <div
      class="text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-14 font-semibold">
      <div class="text-red-700 font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center md:mt-10">
        THE POKEMON SAGA
      </div>
      <div class="text-lg md:text-2xl text-center mt-20 px-10">
        Pokemon, the world famous Japanese media franchise which includes <br>animation series, video games, card games
        and a lot more definitely have a great impact on the global audience.<br>
        The co-existence of human beings and pokemon making the world a happy place <br>is the legacy that the pokemon
        saga carries.

        Here we are, celebrating the<br> biggest Pokemon festival of all times.



      </div>
    </div>
  </div>
  <div
    class="text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-wrap justify-center mt-6 md:mt-14">
    
    <div class="mx-4 md:mx-8" id="events"  >
      <div   class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center md:mt-10 uppercase text-red-700">
        Events
      </div>

      <div class="mt-4 md:mt-14 text-lg md:text-2xl text-center">
        Experience the ultimate Pokémon festival featuring a 
        live performance by the famous Pokémon band,<br><br>
         delicious Japanese and Indian cuisine, and a thrilling Pokémon Go Tournament 
          with exciting prizes. <br><br>Dress up as your favorite Pokémon character in a costume show, and don't miss the Pokémon Marathon event <br><br>
          to win festival tickets. Join us for a day filled with music,<a class="font-semibold text-red-700"> food,</a>  <a class="font-semibold text-blue-700"> games,</a> and <a class="font-semibold text-yellow-500" >fun!</a>
      </div>
      <div class="text-center mt-10 md:mt-10">
        <a href="#eventsextended" class="relative inline-block text-lg group">
          <span
            class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-white bg-white rounded-full group-hover:text-white">
            <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg "></span>
            <span
              class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-black group-hover:-rotate-180 ease"></span>
            <span class="relative">Learn More</span>
          </span>
          <span
            class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-full group-hover:mb-0 group-hover:mr-0"
            data-rounded="rounded-full"></span>
        </a>
      </div>
      <div class="mx-4 md:mx-8 mt-10">
        <img src="https://www.hdwallpapers.in/download/purple_de_pokemon_in_black_background_hd_badass-HD.jpg" class="w-full">
      </div>
    </div>
    
  </div>

  
  <div id="eventsextended"
    class="text-black text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl flex flex-col items-center justify-center mt-6 md:mt-0">

    <div class="font-semibold text-3xl md:text-5xl lg:text-6xl xl:text-7xl text-center mt-10 md:mt-20">
      Events
    </div>

    <div class="mt-10 flex items-center justify-center">
      <div class="flex flex-col sm:flex-row justify-center sm:justify-between">


        <div class="max-w-sm mb-6 sm:mb-0 border border-2 rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg"
              src="https://c4.wallpaperflare.com/wallpaper/71/805/151/movie-cap-pikachu-poster-pokemon-hd-wallpaper-preview.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">DRESS LIKE A POKEMON</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">Dress like your favourite pokemon character and give life to it. The best pokemon shall be honoured with the pokemon world’s surprise award. No more delay, go grab the best costumes…NOW.</p>
          </div>
        </div>


        <div class="max-w-sm mb-6 sm:mb-0 border border-2 rounded-lg shadow bg-black sm:mr-4">
          <a>
            <img class="rounded-t-lg" src="https://people.com/thmb/6VdO8Q2e0C4ZCnVwchJcZIinnvs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(999x0:1001x2)/pokemon-strawberries-ef9f769c63094de0a4fae101f22564bb.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">TASTES OF  POKE LAND
              </h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">A festival in itself demands great memories and great food. The Poke India Festival presents to you the perfect blend of Japanese and Indian delicacies. Rich tradition and fusion, everything at its best quality. This festival leaves nothing less. It's time to enjoy. 

              Heyy…don’t miss the pokeblock candies…your pokemon loves it.
              
            </p>
          </div>
        </div>


        <div class="max-w-sm border rounded-lg shadow bg-black">
          <a>
            <img class="rounded-t-lg"
              src="https://c4.wallpaperflare.com/wallpaper/423/916/864/nintendo-pokemon-go-mobile-wallpaper-preview.jpg" />
          </a>
          <div class="p-4">
            <a>
              <h5 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">POKEMON GO!</h5>
            </a>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
              Get ready to unleash your inner Pokémon Trainer at the Pokémon Go Tournament! It's a fun-filled series of games and epic battles that'll have the crowd buzzing with excitement. And the best part? Winners get crowned with Pokémon titles that perfectly match their skills and awesomeness.  </p>
          </div>
        </div>

      </div>
    </div>

  </div>
 

  

  <div id="register"
    class="flex text-center items-center justify-center mt-40 font-semibold text-3xl md:text-7xl text-white">
    Get your own poké tickets in :
  </div>
  <div class="flex text-center items-center justify-center mt-20 font-semibold text-7xl mb-20 text-white">

    <app-countdown-timer></app-countdown-timer>
  </div>
  <div id="contact"
    class="flex text-center items-center justify-center mt-40 font-semibold text-3xl md:text-7xl text-white">
    Contact Us
  </div>
  <div class=" flex justify-around mt-4 md:mt-20 mb-10 md:mb-20 mx-4  md:text-xl text-white ">
    <div>
      Email : sample@email.com &nbsp;
    </div>
    <div>IG :
      <a href="https://www.instagram.com/pokefestivalindia/?igshid=NGVhN2U2NjQ0Yg%3D%3D"
        class="underline text-blue-200">pokefestivalindia</a>
    </div>
    <div>
      &nbsp; Phn : 123456789
    </div>

  </div>

  <footer class="bg-gray-200 rounded-lg shadow mt-6 mb-2 text-black">
    <div class="w-full mx-auto max-w-screen-xl p-3 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center ">All Rights Reserved.
      </span>

    </div>
  </footer>



</div>



<style>
  @media (max-width: 768px) {
    .mt-10 {
      margin-top: 4 !important;
    }

    .mt-20 {
      margin-top: 20px !important;
    }

    /* Add more styles as needed */
  }
</style>