
<div class="bg-black py-10 px-10 rounded-lg">
    <div class="text-xl font-bold mb-2 text-white"></div>
    <div class="flex flex-wrap justify-center bg-black text-white">
        <div class="timer-item text-center mb-4 md:mb-0 md:mr-4">
            <div class="font-bold text-4xl" [textContent]="days"></div>
            <div class="text-sm">Days</div>
        </div>
        <div class="timer-item text-center mb-4 md:mb-0 md:mr-4">
            <div class="font-bold text-4xl" [textContent]="hours"></div>
            <div class="text-sm">Hours</div>
        </div>
        <div class="timer-item text-center mb-4 md:mb-0 md:mr-4">
            <div class="font-bold text-4xl" [textContent]="minutes"></div>
            <div class="text-sm">Minutes</div>
        </div>
        <div class="timer-item text-center mb-4 md:mb-0 md:mr-4">
            <div class="font-bold text-4xl" [textContent]="seconds"></div>
            <div class="text-sm">Seconds</div>
        </div>
    </div>
</div>